PORT=3000
NODE_ENV=production

# Supabase Configuration
SUPABASE_URL=https://your-project-id.supabase.co
SUPABASE_SERVICE_ROLE_KEY=your-supabase-service-role-key

# Database
DATABASE_URL="postgresql://postgres:password@db.supabase.co:5432/postgres"

# Directories
TEMP_DIRECTORY=./temp
OUTPUT_DIRECTORY=./temp/output
LOG_DIRECTORY=./logs

# File Upload Limit (in bytes) e.g., 50MB
MAX_UPLOAD_SIZE=52428800
